<%-include("header")-%>
    <h2 style="color: rgb(188, 155, 8); padding: 20vh 20px 20px 0 ; text-align: center;">
        This is a web application made by Ameer Suhail to practice EJS templating. Also used technologies like NodeJS,
        ExpressJS, HTML, CSS.</h2>
    <%-include("footer")-%>